<div>
<h1 class = "text-2xl noto-sans-header mt-3 mb-3">
    Nithid Anchaleenukoon
</h1>

I'm a third-year undergraduate student at MIT majoring in <a href = "https://www.eecs.mit.edu/academics/undergraduate-programs/curriculum/" target="_blank">Computer Science and Engineering (Course 6-3)</a> with fields of interest including machine learning and theoretical computer science. </br> 
I'm also interested in mathematics and neuroscience.

<p class = "mt-20">
<i>Last update: August 4, 2025</i>
</p>
</div>