<div class = "flex flex-col gap-y-8">
    <div>
        <div>
        <h1 class = "text-2xl noto-sans-header mt-3 mb-3">
            Nithid Anchaleenukoon 
            </br>
            <span class = "text-sm mt-5 flex-row gap-[10pt]">
                <a class= "mx-1" href = "mailto:nithidan@mit.edu" target = "_blank">Email</a>
                <a class= "mx-1" href = "https://www.linkedin.com/in/nithid-anchaleenukoon-0815b8320" target = "_blank">LinkedIn</a>
                <a class= "mx-1" href = "https://github.com/psi241" target = "_blank">Github</a>
            </span>
        </h1>
       
        </div>
        <p class="w-2/3 max-w-150 noto-sans-body">
        I am a third-year undergraduate student at Massachusetts Institute of Technology majoring in Computer Science and Engineering (Course 6-3). My interest includes machine learning and theoretical computer science. I'm also interested in discrete mathematics and neuroscience.
        </p>

        <p class = "mt-20 noto-sans-body">
        <i>Last update: August 17, 2025</i>
    </p>
    </div>

    <!-- More Info -->
    <hr class="border-1"/> 
    <div>
        <h2 class="text-xl noto-sans-h2">
            Experiences
        </h2>
        <div class = "grid grid-cols-[180px_1fr] noto-sans-body">
            {% for exp in site.data.exp %}
                <span>{{ exp.date }}</span>
                <span>{{ exp.name }}</span>
                <span class = "text-sm">{{ exp.location }}</span>
                <span class = "text-sm italic">{{ exp.organization }}</span>
                <span></span>
                <span>
                    <ul class = "list-disc ml-8 text-sm">
                        {% for line in exp.description %}
                            <li>{{ line }}</li>
                        {% endfor %}
                    </ul>
                </span>
            {% endfor %}
        </div>
    </div>

     <hr class="border-1/2"/> 
    <div>
        <h2 class="text-xl noto-sans-h2">
            Publications
        </h2>
        <div class = "noto-sans-body">
            {% for entry in site.data.publications %}
                <div class = "ml-8">
                    <a href="{{ entry.url }}"><b>{{ entry.title }}</b></a>
                </div>
                <div class = "ml-8">{{ entry.authors }}</div>
                <div class = "ml-8 italic">{{ entry.published }}</div>
            {% endfor %}
        </div>
    </div>
</div>